#form_container {
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 20px 1fr 20px 40px;
}

#f_card, #b_card {
    background-color: rgb(221, 221, 221); 
    width: 390px;
    height: 250px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 300;
}

#f_card {
    background-color: rgb(221, 221, 221);
    grid-column: 1/3;
    grid-row: 1/2;
    display: grid;
    padding: 20px 20px;
    grid-template-columns: 1.2fr .8fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 5px black;
    z-index: 2;
}

input[type="text"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

#price {
    text-justify: center;
}

#card_image {
    grid-column: 2/3;
    justify-self: end;
}

#card_number {
    grid-column: 1/3;
    box-sizing: border-box;
}

#card_holder {
    grid-row: 3/4;
    width: 100%;
}

#expiration {
    grid-row: 3/4;
    justify-self: end;
}

#expiration input {
    width: 30%;
}

div {
    height: 40px;
}

#b_card {
    grid-column: 2/4;
    grid-row: 2/4;
    padding: 15px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .9fr 1.1fr;
    z-index: 1;
}

#mag_strip {
    height: 45px;
    background-color: rgb(68,69,69);
    width: 390px;
    grid-column: 1/3;
}

#CVV {
    width: 82px;
    grid-column: 2/3;
    padding-top: 60px;
    padding-left: 15px;
}

#month {
    margin-right: 25px;
}

input {
    height: 30px;
    font-size: large;
}

button {
    border-radius: 6px;
    margin: 5px 30px;
    grid-column: 3/4;
    grid-row: 4/5;
    align-items: end;
}