@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    margin: 0;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
  
.viewer button {
    position: absolute;
    top: 20px;
    right: 20px; 
}
  
.viewer img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}
    
a:link,
a:visited {
    color: var(--accent-color);
}

a {
    font-size: 1.3em;
    padding: 0 60px;
}

button {
    font-size: 1.6em;
    background: none;
    border: none;
    color: var(--text-light);
}

h1 {
    font-size: 3em;
}

h1, 
h2 {
    font-family: "Mooli";
}

figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 5px 5px 3px rgb(90, 90, 90);
}

header, 
footer {
    background-color: var(--primary-color);
    color: var(--text-light);
}

header {
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    vertical-align: middle;
}

main {
    margin: auto;
    justify-self: center;
    text-align: center;
    max-width: 1300px;
}

footer {
    margin-top: 20px;
    padding: 15px;
    padding-left: 60px;
}

.hide {
    display: none;
}


@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {

    #menu-button {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: center;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }


}