:root {
    --primary-color: #52796F;
    --secondary-color: #354F52;
    --accent-color: #4DD7FA;
    --text-dark: #2F3E46;
    --text-light: #CAD2C5;
    --primary-font: monospace;
    --secondary-font: ;
}

body {
    color: var(--text-light);
    background-color: var(--primary-color);
    margin: 0;
    font-family: var(--primary-font)
}

header {
    background-color: var(--secondary-color);
}

#profile_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    position: absolute;
}

h1 {
    padding-left: 120px;
    /* border-bottom: 2px solid var(--accent-color); */
}

nav {
    display: flex;
    padding-left: 115px;
}

a {
    color: var(--text-light);
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--text-dark);
    border-radius: 15px;
}

a:hover {
    color: #4DD7FA;
}

header,
main,
footer {
    padding: 20px;
}

footer {
    background-color: var(--secondary-color);
}

.links {
    margin: 5px;
}