body {
    padding: 50px;
}

.title {
    text-align: center;
    padding: 25px;
}

.content {
    align-items: center;
    margin: auto;
    padding: 50px 200px;
    max-width: 600px;
    box-shadow: 0 0 3px grey;
}

p, ul, li {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

h1 {
    letter-spacing: 5px;
    font-size: 2.5em;
}

h2 {
    color: #006EB6;
    font-size: 1em;
    letter-spacing: 5px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

li {
    margin-bottom: 25px;
}

footer {
    text-align: center;
    margin-top: 65px;
}

img {
    max-width: 150px;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: #A0D4ED;
}