:root {
    /* change the values below to your colors from your palette */
    --primary-color: #14591d;
    --secondary-color: #76BF3D;
    --accent1-color: #ACD2ED;
    --accent2-color: #e1e289;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Poppins", sans-serif;
    --paragraph-font: "Inter Tight", sans-serif;;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(
      --primary-color
    ); /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: var(
      --primary-color
    ); /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
}

h1, h2 {
    font-family: var(--heading-font);
}

a {
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
}

header {
    height: 60px;
    padding: 10px 0;
    display: flex;
    margin: 0 auto;
    border-bottom: 1px black solid;
}

header h1 {
    align-self: center;
    font-size: 1.5em;
    position: absolute;
    left: 50px;
}

nav {
    margin: 0 auto;
}

#main-nav {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    list-style-type: none;
    width: 100%;
    font-size: 1.2em;
}

#logo {
    position: fixed;
    left: 10px;
    width: 40px;
    height: 40px;
    align-self: center;
}

#upcoming-events-container, #people-container {
    width: 800px;
    max-width: 80%;
    margin: 40px auto;
    padding: 0 25px;
    border: 2px var(--primary-color) solid;
    border-radius: 10px;
}

#upcoming-events-container h1, #people-container h1 {
    padding-bottom: 10px;
    border-bottom: 2px var(--secondary-color) solid;
}

.event-card {
    display: grid;
    grid-template-columns: 1fr 75px;
    grid-template-rows: repeat(3, 1fr);
    border: 2px var(--primary-color) solid;
    padding: 10px 20px;
    border-radius: 10px;    
    margin: 25px auto;
    align-items: center;
}

.position, .shift-time, .date {
    grid-column: 1/2;
    margin: 0;
}

.shift-time {
    padding-top: 5px;
}

.date {
    font-size: .8em;
}

.event-length {
    margin: 0;
    grid-row: 2/3;
    grid-column: 2/3;
}

.person-card {
    display: grid;
    grid-template-columns: 80px 1fr;
    border: 2px var(--primary-color) solid;
    padding: 10px 20px;
    border-radius: 10px;    
    margin: 25px auto;
}

.name, .trained-positions, .phone-number {
    grid-column: 2/3;
    margin: 0;
}

.profile-img {
    grid-row: 1/3;
    width: 60px;
    border: 2px var(--primary-color) solid;
    border-radius: 50px;
}

#myInput {
    width: 99%;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 0;
    border: 1px solid var(--secondary-color);
}

@media screen and (max-width: 800px) {
    /* Make the nav flex down */
}