@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:wght@400;700&family=Signika&display=swap');

:root {
    --gold-color: #EFC69B;
    --link-color: #AF1B3F;
    --dark-color: #473144;
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: Lora, Impact, serif;
}

body {
    font-family: var(--primary-font);
    color: var(--dark-color);
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: var(--secondary-font);
}

h1 {
    text-align: center;
    color: var(--dark-color);
    padding: 20px;
    font-size: 2.2em;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    background-color: var(--dark-color);
    color: white;
}

.skiptocontent a:focus {
    top: 0px;
}

nav {
    border-top: 2px solid #EFC69B;
    border-bottom: 2px solid #EFC69B;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: end;
    justify-items: end;
    list-style-type: none;
    max-width: 90%;
    font-size: 1.2em;
}


main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.1em;
}

.posts {
    grid-column: 1/3;
}

.post {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column: 2/3;
}


#filters {
    grid-column: 3/4;
    border: 2px solid #EFC69B;

}